.container {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./ireland.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-game-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user-box {
  padding: 16px;
  margin: 16px;
  background: darkseagreen;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
}

.poem-header {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}